html{
padding: 0px;
margin:0px;
}

@font-face {
font-family: EQ;
src: url(fonts/9056.ttf);
src: local(EQ), url(fonts/9056.ttf);
}

.noes{
z-index: 10000000000;
position: fixed;
right:2px;
border:3px #FFFFFF solid;
border-top-left-radius: 12px;
border-top-right-radius: 12px;
background: #5f0091;
bottom:210px;
width:150px;
height:25px;
}

body{
background: url(images/Fon.jpg);; 
font-family: EQ;
}
.main a{
color:#ff0000;
transition:0.4s;
text-decoration:none;
}
.scrins a{
color:#ff8000;
transition:0.4s;
text-decoration:none;
}
.vers a{
color:#00ff89;
transition:0.4s;
text-decoration:none;
}
.news a{
color:#00ceff;
transition:0.4s;
text-decoration: none;
}
.dev a{
color:#a700ff;
transition:0.4s;
text-decoration:none;
}

.main a:hover{
color:#FFFFFF;
font-size: 24pt;
text-decoration:none;
}
.scrins a:hover{
color:#FFFFFF;
font-size: 24pt;
text-decoration:none;
}
.vers a:hover{
color:#FFFFFF;
font-size: 24pt;
text-decoration:none;
}

.news a:hover{
color:#FFFFFF;
font-size: 24pt;
text-decoration:none;
}

.dev a:hover{
color:#ffffff;
font-size: 24pt;
text-decoration:none;
}

.sweetie_belle{
z-index: 19;
position: fixed;
top:-34px;
left:-34px;
background: rgba(0, 118, 255, 0.31);
width:80px;
height:80px;
border-radius: 100px;
border:5px #00b1ff solid;
transition: 1s;
word-wrap: break-word;
}


.sweetie_belle:hover{
border-bottom-left-radius:0px;
border-bottom-right-radius:47px;
border-top-left-radius:0px;
border-top-right-radius:47px;
background: rgba(0, 101, 78, 0.84);
transition: 0.8s;
width: 890px;
top:0px;
left:0px;
}


.donut{
z-index: 20;
position: fixed;
top:-24px;
left:-24px;
width:70px;
height:70px;
transition: 1s;
background: url(images/menu.png) no-repeat;
background-position: center;
background-size: 70px 70px;
}

.sweetie_belle:hover .donut{
transition: 0.8s;
transform: rotate(445deg);
left:3px;
top:10px;
left:3px;
}

.main{
z-index: 21;
padding-left: 10px;
padding-right: 10px;
position: fixed;
height:auto;
width:auto;
text-align:center;
left:-50px;
top:-100px;
background: rgba(15, 0, 36, 0.5);
border: 5px #FFFFFF solid;
border-top-left-radius: 90px;
border-bottom-left-radius: 90px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
font-size: 25pt;
transition:0.8s;
}
.sweetie_belle:hover .main{
left:100px;
top:20px;
}

.scrins{
z-index: 21;
padding-left: 10px;
padding-right: 10px;
position: fixed;
height:auto;
width:auto;
text-align:center;
left:20px;
top:-100px;
background: rgba(15, 0, 36, 0.5);
border: 5px #FFFFFF solid;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
font-size: 25pt;
transition:0.8s;
}
.sweetie_belle:hover .scrins{
left:290px;
top:20px;
}

.vers{
z-index: 21;
padding-left: 10px;
padding-right: 10px;
position: fixed;
height:auto;
width:auto;
text-align:center;
left:40px;
top:-100px;
background: rgba(15, 0, 36, 0.5);
border: 5px #FFFFFF solid;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
font-size: 25pt;
transition:0.8s;
}
.sweetie_belle:hover .vers{
left:417px;
top:20px;
}

.news{
z-index: 21;
padding-left: 10px;
padding-right: 10px;
position: fixed;
height:auto;
width:auto;
text-align:center;
left:40px;
top:-100px;
background: rgba(15, 0, 36, 0.5);
border: 5px #FFFFFF solid;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
font-size: 25pt;
transition:0.8s;
}
.sweetie_belle:hover .news{
left:540px;
top:20px;
}

.dev{
z-index: 21;
padding-left: 10px;
padding-right: 10px;
position: fixed;
height:auto;
width:auto;
text-align:center;
left:100px;
top:-100px;
background: rgba(15, 0, 36, 0.5);
border: 5px #FFFFFF solid;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
border-top-right-radius: 90px;
border-bottom-right-radius: 90px;
font-size: 25pt;
transition:0.8s;
}
.sweetie_belle:hover .dev{
left:674px;
top:20px;
}

.cont{
position: absolute;
top:42px;
left:10px;
padding:10px;
font-size: 23pt;
color: #d5ffef;
border:1px #FFFFFF dashed;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
background: rgba(0, 0, 0, 0.42);
width:auto;
height:auto;
}

.cont a{
text-decoration: none;
color:#36ff64;
transition:0.4s;
}

.cont a:hover{
text-decoration: none;
color:#ffffff;
}

.cont::selection{
color:#00ff45
}

.imaga{
position: absolute;
top:42px;
left:10px;
right:10px;
padding:10px;
font-size: 23pt;
color: #d4e7ff;
width:auto;
height:auto;
text-align: center;
}







.press{
color:#beff72
}

.download a{
color: #00bfbf;
transition: 0.5s;
text-decoration: none;
}

.download a:hover{
color: #FFFFFF;
}

.model{
font-size: 35px;
color:#ff9d00
}

.versions{
position: absolute;
left:30px;
right:30px;
top:60px;
width:auto;
height:auto;
color:#FFFFFF;
font-size: 25px;
}

.verss{
top:auto;
border:5px #a700ff solid;
background: rgba(0, 0, 0, 0.57);
padding:5px;
}



































.big-font-m{
font-size: 38pt;
color:#cbb3ff;
vertical-align: super;
}

.big-font-the{
font-size: 38pt;
color:#ffb34c;
vertical-align: super;
}

.big-font-enigan{
font-size: 38pt;
color:#76ffc0;
vertical-align: super;
}

.big-font-vadim{
font-size: 38pt;
color:#f9ff6b;
vertical-align: super;
}

.big-font-kurrrlik{
font-size: 38pt;
color:#9bd67c;
vertical-align: super;
}

.authors{
word-wrap: break-word;
}

.authors .mastertime{
position: absolute;
display: inline;
top:45px;
left:60px;
width:600px;
height:auto;
background:rgba(0, 0, 0, 0.65);
border-bottom: 0px #b91bff solid;
border-top: 5px #b91bff solid;
border-right: 5px #b91bff solid;
border-left: 5px #b91bff solid;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
text-align: center;
}

.authors .mastertime .master-text{
position: inherit;
left:-5px;
right:-5px;
height:auto;
text-align: center;
font-size:20pt;
color:#a25dff;
background: rgba(0, 0, 0, 0.65);
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-top: 0px #b91bff solid;
border-bottom: 5px #b91bff solid;
border-right: 5px #b91bff solid;
border-left: 5px #b91bff solid;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
padding: 5px;
}











.authors .theelement{
position: absolute;
top:45px;
left:680px;
width:600px;
height:auto;
background:rgba(0, 0, 0, 0.65);
border-bottom: 0px #ff9300 solid;
border-top: 5px #ff9300 solid;
border-right: 5px #ff9300 solid;
border-left: 5px #ff9300 solid;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
text-align: center;
}

.authors .theelement .element-text{
position: inherit;
left:-5px;
right:-5px;
height:auto;
text-align: center;
font-size:20pt;
color:#d88431;
background: rgba(0, 0, 0, 0.65);
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-top: 0px #ff9300 solid;
border-bottom: 5px #ff9300 solid;
border-right: 5px #ff9300 solid;
border-left: 5px #ff9300 solid;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
padding: 5px;
}





.authors .enigan{
position: absolute;
top:275px;
left:60px;
width:600px;
height:auto;
background:rgba(0, 0, 0, 0.65);
border-bottom: 0px #00f06f solid;
border-top: 5px #00f06f solid;
border-right: 5px #00f06f solid;
border-left: 5px #00f06f solid;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
text-align: center;
}

.authors .enigan .enigan-text{
position: inherit;
left:-5px;
right:-5px;
height:auto;
text-align: center;
font-size:20pt;
color:#00ff93;
background: rgba(0, 0, 0, 0.65);
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-top: 0px #00f06f solid;
border-bottom: 5px #00f06f solid;
border-right: 5px #00f06f solid;
border-left: 5px #00f06f solid;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
padding: 5px;
}






.authors .vadim{
position: absolute;
top:275px;
left:680px;
width:600px;
height:auto;
background:rgba(0, 0, 0, 0.65);
border-bottom: 0px #e2ff00 solid;
border-top: 5px #e2ff00 solid;
border-right: 5px #e2ff00 solid;
border-left: 5px #e2ff00 solid;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
text-align: center;
}

.authors .vadim .vadim-text{
position: inherit;
left:-5px;
right:-5px;
height:auto;
text-align: center;
font-size:20pt;
color:#bfc94d;
background: rgba(0, 0, 0, 0.65);
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-top: 0px #e2ff00 solid;
border-bottom: 5px #e2ff00 solid;
border-right: 5px #e2ff00 solid;
border-left: 5px #e2ff00 solid;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
padding: 5px;
}




.authors .kurrrlik{
position: absolute;
top:505px;
left:60px;
width:600px;
height:auto;
background:rgba(0, 0, 0, 0.65);
border-bottom: 0px #52c92f solid;
border-top: 5px #52c92f solid;
border-right: 5px #52c92f solid;
border-left: 5px #52c92f solid;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
text-align: center;
}

.authors .kurrrlik .kurrrlik-text{
position: inherit;
left:-5px;
right:-5px;
height:auto;
text-align: center;
font-size:20pt;
color:#2da536;
background: rgba(0, 0, 0, 0.65);
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-top: 0px #52c92f solid;
border-bottom: 5px #52c92f solid;
border-right: 5px #52c92f solid;
border-left: 5px #52c92f solid;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
padding: 5px;
}






























.sherlock-news{
font-size: 35px;
color: #df75ff
}

.date{
font-size:20px;
color:rgba(255, 255, 255, 0.74);
}


.news-body{
position: absolute;
right:15px;
left:10px;
top:60px;
height:auto;
color:#FFFFFF;
font-size: 25px;
}

.news-date{
top:auto;
border:5px #ffce00 solid;
border-radius: 20px;
padding: 10px;
background:rgba(0, 0, 0, 0.42);
width:98%;
}
